/* Grunddesign */
body {
    background-color: limegreen;
    font-size: larger;
}

header {
    margin: 1%;
}

header > span {
    font-size: 100px;
    vertical-align: bottom;
    text-decoration: overline;
}

header > img {
    height: 100px;
    margin-bottom: 15px;
}


article {
    background-color: floralwhite;
    margin-left: 1%;
    margin-right: 1%;
    padding: 16px;
}

footer {
    background-color: limegreen;
    width: 100%;
    bottom: 0;
}

/* Sticky Navbar */
.sticky {
    width: 96.6%;
    margin-right: 1%;
    top: 0;
    position: fixed;
}

.sticky_article {
    margin-top: 77px;
}

/* Homeseite */

.videocontainer {
    text-align: center;
}