/* Grunddesign */
body {
    background-color: #26de81; /*Reptile Green*/
    font-size: larger;
    font-family: 'Lora', serif;
    color: #0E0E0E;
}

header {
    margin: 1%;
}

header > span {
    font-size: 100px;
    vertical-align: bottom;
    text-decoration: overline;
    font-family: 'Yatra One', cursive;
}

header > img {
    height: 100px;
    margin-bottom: 15px;
}


article {
    background-color: floralwhite;
    margin-left: 1%;
    margin-right: 1%;
    padding: 16px;
    font-weight: 400;
}

.article_mitte {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}

footer {
    width: 100%;
    bottom: 0;
}

/* Sticky Navbar */
.sticky {
    width: 96.6%;
    margin-right: 1%;
    top: 0;
    position: fixed;
}

.sticky_article {
    margin-top: 77px;
}

/* Homeseite */

.videocontainer {
    text-align: center;
}