/* Quelle: https://www.webcodegeeks.com/html5/html5-navigation-bar-example/ */
nav {
    background-color: rgb(28, 68, 30);
    border: 1px solid rgb(0, 0, 0);
    display: block;
    margin: 0;
    overflow: hidden;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li {
    margin: 0;
    display: inline-block;
    list-style-type: none;
    transition: all 0.2s;
}

nav > ul > li > a {
    color: rgb(255, 255, 255);
    display: block;
    line-height: 2em;
    padding: 0.5em 2em;
    text-decoration: none;

}

nav li > ul{
    display : none;
    margin-top:1px;
    background-color: rgb(39, 139, 44);

}

nav li > ul li{
    display: block;
}

nav  li > ul li a {
    color: rgb(0, 0, 0);
    display: block;
    line-height: 2em;
    padding: 0.5em 2em;
    text-decoration: none;
}

nav li:hover {
    background-color: rgb(0, 0, 0);
}

nav li:hover > a {
    color: rgb(255, 255, 255);
}

nav li:hover > ul{
    position:absolute;
    display : block;
}
nav li > ul > li ul  {
    display: none;
    background-color: rgb(39, 139, 44);
}
nav li > ul > li:hover > ul  {
    position:absolute;
    display : block;
    margin-left:100%;
    margin-top:-3em;
}