
<span>Projekt SVEN</span>
<img src="/img/Logo_mit_Kreis.svg">

<nav id="nav">
    <ul>
        <li><a href="/index.html">Home</a></li>
        <li>
            <a href="">Teilprojekte</a>
            <ul>
                <li>
                    <a href="/teilprojekte/lsf.html">LSF-Schnittstelle</a>
                    <ul>
                        <li><a href="/teilprojekte/lsf.html">Info</a></li>
                        <li><a href="https://github.com/Projekt-SVEN/LSF-Schnittstelle">Git</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/teilprojekte/simulation.html">Simulation</a>
                    <ul>
                        <li><a href="/teilprojekte/simulation.html">Info</a></li>
                        <li><a href="https://github.com/Projekt-SVEN/Simulation">Git</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/teilprojekte/fhem.html">FHEM Server</a>
                    <ul>
                        <li><a href="/teilprojekte/fhem.html">Info</a></li>
                        <li><a href="https://github.com/Projekt-SVEN/LSF-Schnittstelle">Git</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/teilprojekte/fhem.html">Tablet-UI</a>
                    <ul>
                        <li><a href="/teilprojekte/tablet.html">Info</a></li>
                        <li><a href="https://github.com/Projekt-SVEN/SVEN-Tablet-UI">Git</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="/team.html">Das Team</a></li>
        <li><a href="/contact.html">Kontakt</a></li>
        <li>
            <a href="">Design Vorschl&auml;ge</a>
            <ul>
                <li>
                    <a href="/Vorschlage/dark.html">Dark Design</a>
                </li>
                <li>
                    <a href="/Vorschlage/articlemitte.html">Article Mitte</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>